/* Mobile nav */

.nav__bars-btn {
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    animation: fadeIn linear .2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    /* height: 500px; */
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav__mobile-list {
    margin-top: 24px;

}

.nav__mobile-link {
    padding-left: 10px;
    width: 100%;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 8px 0;
    color: #000;
    font-weight: 500;
    font-size: 1.8rem;
}

.nav__mobile-close {
    font-size: 1.8rem;
    color: #666;
    top: .4rem;
    right: 1rem;
    position: absolute;
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}


@media (max-width: 1023px) {

    /* Nav  */
    .nav__bars-btn {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .action {
        display: none;
    }


    /* Hero  */
    .hero__inner {
        flex-direction: column;
        align-items: center;
    }

    .hero__heading {
        font-size: 4rem;
    }


    .hero__media {
        margin-top: 50px;
    }

    .hero__media-img {
        max-width: 100%;
    }

    .btn {
        max-width: 100%;
        font-size: 1.2rem;
    }

    /* Service  */
    .service__list {
        flex-direction: column;
    }

    .service__list-item {
        margin-top: 50px;
    }

    .service__heading {
        font-size: 3rem;
    }


    /* Work  */
    .work__top-heading {
        font-size: 3rem;
    }

    .work__top-desc {
        font-size: 1.2rem;
    }

    .work__list-item {
        flex-direction: column;
        gap: 30px;
    }

    .work__list-item:nth-child(1),
    .work__list-item:nth-child(3),
    .work__list-item:nth-child(5) {
        flex-direction: column-reverse;
    }

    .work__list-heading {
        font-size: 2.8rem;
    }

    .work__list-desc {
        font-size: 1.6rem;
    }

    .sort-rude {
        font-size: 1.2rem;
    }


    /* Benefit  */

    .benefit__list {
        grid-template-columns: 1fr;
    }

    .benefit__heading {
        font-size: 3rem;
    }

    .benefit__list-item:nth-child(2)::after,
    .benefit__list-item:nth-child(1)::after,
    .benefit__list-item:nth-child(5)::after {
        border: none;
    }

    /* Pricing  */
    .pricing {
        padding: 0;
    }

    .pricing__heading {
        font-size: 3rem;
    }

    .pricing__desc {
        font-size: 1.4rem;
    }

    .pricing__list {
        flex-direction: column;
        position: static;
        background-color: transparent;
    }

    .pricing__list-item:nth-child(2) {
        position: static;
    }

    .pricing__list-item:nth-child(1),
    .pricing__list-item:nth-child(3) {
        transform: translateY(-20%);
        padding: 30px;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        background: #fff;
        box-shadow: 0px 30px 80px -20px rgba(0, 35, 40, 0.59);
        border-radius: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #2D2D2D;
    }

    .pricing__title {
        font-size: 3.8rem;
    }

    .pricing__desc-sub {
        font-size: 1.6rem;
    }

    /* Footer */
    .footer {
        padding: 70px;
    }

    .footer__heading {
        font-size: 3rem;
    }

    .footer__top-desc {
        font-size: 1.4rem;
    }

    .footer__brand {
        flex-direction: column;
        margin-bottom: 70px;
    }

    .footer-img {
        display: none;
    }

    .social {
        margin-left: 20px;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}